.git
.github
.agents
.env
.env.*
!.env.example
node_modules
public/build
public/hot
public/storage
storage/logs/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
tests
vendor

